.page-header {
    background-color: #EE82EE;
    margin-top: 0;
    padding: 40px 15px 15px 30px;
}

.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
    padding-left: 25px;
}

.content {
    margin-left: 30px;
    margin-top: 10px;
    padding-left: 40px;
}

h1, h2, h3, h4 {
    font-family: 'Lobster',fantasy;

}

.date {
    color: #A9A9A9;
    margin-top: -10px;

}
.texte-post{
  margin-top: 10px;
}


.save {
    float: right;
}

.post-form textarea, .post-form input {
    width: 100%;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #fffff0;
    float: right;
    font-size: 26pt;
    margin-right: 20px;
}

.post {
    margin-bottom: 40px;
}

.post h1 a, .post h1 a:visited {
    color: #8B008B;
}
.post_title{
  color: #8B208B;
}
